/*GENERAL STYLING*/
body {
	margin: 0;
}
.page-wrapper {
	width: 100%;
	height: 100%;
}
.section {
	width: 100%;
	height:100%;
	position: relative;
}
.title-pic {
	width: 80%;	
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 65px 30px 50px 30px; 
}
.down-button-container {
	margin: 0 auto;
	width: 55px;
	height: 55px;
	position: relative;
	bottom: 2px;
	padding-top: 21px;
	/* 	left: 610px; */
}
.highlight-box {
	margin: 0 auto;
	width: 60px;
	height: 45px;
	border-radius: 8px;
	background-color: white;
	opacity: 0.60;
	position: absolute;	
	display: none;
}
.down-button {
	width: 50px;
	height: auto;
	position: absolute;
	/*bottom: 2px;*/
	left: 5px;
	outline:none;
	-webkit-animation:bounce 1s infinite;
	-moz-animation:bounce 1s infinite;
	-ms-animation:bounce 1s infinite;
}
@-webkit-keyframes bounce {
  0%       { bottom:12px; }
  25%, 75% { bottom:20px; }
  50%      { bottom:22px; }
  100%     { bottom:12px;}
}

/*Title Section styling*/
#title-section {
	background-color: #74CBC8;
}
#top-title {
	position: relative;
	top: 17px;
}
#trash-bin-container {
	margin: 0 auto;
	width: 150px;
	height: 200px;
	
	position: relative;
/*	overflow: auto;	
*/}
#trash-bin-white {
	/*display: block;
    margin-left: auto;
    margin-right: auto;*/
	display: none;
/*	bottom: 120px;
	left: 555px;*/
    position: absolute;
    width: 100%;
	height: auto;
/*	padding-top: 24px;
*/	cursor: pointer;
}
#chatbox {
	height: 50px;
	width: 300px;
	margin: 0 auto;
	position: relative;
	padding: 30px 0px 0px 0px;
}
.chat {
	display: none;
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	text-align: center;
	color: white;
	left: 23%;
}
/*Intro Section styling*/
#intro-section {
	background-color: #E582B5;
}
#intro-text {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	text-align: center;
	font-size: 22px;
	line-height: 150%;
	padding: 40px 180px;
	color: white;
}
#intro-text1 {
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	text-align: center;
	font-size: 20px;
	color: white;
	padding-bottom: 34px;
}
#down1 {
}
/*Facts section styling*/
#facts-section {
	background-color: #FFF6D0;
}
.all-facts-wrapper {
	margin: 15px;
	display: flex;
	height: 348px;
}
.fact-container {
	width: calc((100%/4));
	height: 300px;
	position: relative;
	margin-right: 10px;
	/*padding: 10px;*/
}
.fact-pic {
	position: absolute;
	max-width:100%;
	max-height:100%;
	z-index: 999;
	opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
/*IMAGE FADING*/
.fact-pic:hover {
	size: 20%;
	opacity: 0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.fact-pic1 {
	position: absolute;
	max-width:100%;
	max-height:100%;
	z-index: 98;
	display: none
}
.fact-info {
	padding: 15px;
	font-family: 'Lato', sans-serif;
	z-index: 99;
}
.fact-info {
	font-size: 20px;
}

/*LIFESTYLE section styling*/
#lifestyle-section {
	background-color: #FFCD74;
}
.all-lifestyle-wrapper {
	display: flex;
	margin: 15px;
}
.lifestyle-container {
	width: calc((100%/5));
	height: auto;
	position: relative;
	margin-right: 10px;

}
.lifestyle-pic {
	position: absolute;
	max-width:100%;
	max-height:100%;
	z-index: 999;
	opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
/*IMAGE FADING*/
.lifestyle-pic:hover {
	size: 20%;
	opacity: 0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}
.lifestyle-pic1 {
	position: absolute;
	max-width:100%;
	max-height:100%;
	z-index: 950;
	display: none;
}
.lifestyle-info {
	padding: 0px 15px;
	font-family: 'Lato', sans-serif;
	z-index: 998;
	overflow: hidden;
}
#lifestyle-personalcare {
	font-size: 13px;
}